<header>
  <div class="div-header">
    <img class="logo" src="assets/AdoPetz3.0.png" alt="logo" />
    <!-- header da minha home -->
    <nav>
      <ul class="nav-menu">
        <li><a href="#">Início</a></li>
        <li><a href="#">Adote um Pet</a></li>
        <li><a href="#">Como Funciona</a></li>
        <li><a href="#">Histórias de Sucesso</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#" ><button type="button" class="btn btn-outline-warning">Login/Cadastro</button></a></li>
      </ul>
      
    </nav>
   
  </div>
</header>
