
<section  class="hero">
    <div id="carouselExampleCaptions" class="carousel slide"  data-bs-ride="carousel" data-bs-interval="3000">
        <!-- indicadores -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <!-- Carrossel 1 -->
          <div class="carousel-item active" data-bs-interval="4000">
            <img src="/assets/images/backgroung/background.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <div class="hero-content">
                    <h1>Bem Vindo ao AdoPetz!</h1>
                    <p><strong>Nosso objetivo é ajudar você a enoctrar o pet perfeito</strong></p>
                    <div class="hero-buttons">
                        <a href="#" class="btn-adopt">Adote Agora</a>
                        <a href="#" class="btn-donate">Doe para Ajudar</a>
                    </div>
                </div>
            </div>
          </div>
          <!-- Carrossel 2  pegar insigths para mudar esse-->
          <div class="carousel-item" data-bs-interval="3000">
            <img src="/assets/images/backgroung/background2.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <div class="hero-content">
                <h1>Encontre seu novo melhor amigo!</h1>
                <p><strong>Conectamos você ao pet que está esperando por um lar amoroso.</strong></p>
                <div class="hero-buttons">
                    <a href="#" class="btn-adopt">Adote Agora</a>
                    <a href="#" class="btn-donate">Doe para Ajudar</a>
                </div>
            </div>
            </div>
          </div>
           <!-- Carrossel 3  pegar insigths para mudar esse-->
          <div class="carousel-item" data-bs-interval="3000">
            <img src="/assets/images/backgroung/background3.jpeg" class="d-block w-100" alt="imagem 1">
            <div class="carousel-caption d-none d-md-block">
              <div class="hero-content">
                <h1>Veja as historias de sucessos</h1>
                <p><strong>Faça parte do AdoPetz</strong> </p>
                <div class="hero-buttons">
                    <a href="#" class="btn-adopt">Adote Agora</a>
                    <a href="#" class="btn-donate">Doe para Ajudar</a>
                </div>
            </div>
            </div>
          </div>
        </div>

        <!-- Controle do carrossel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Próximo</span>
        </button>
      </div>
</section>
