<section class="search-filter"> <!-- 
    filter estilizado construido com   bootsatep -->
    <h2>Encontre seu Pet</h2>
    <div class="filter-options " >
        <!-- botão de menu OffCanvas -->
        <app-sidebars></app-sidebars>
        <select class="p-3 text-primary-emphasis --bs-success-border-subtle border --bs-success-border-subtle  rounded">
            <option>Estado</option>
            <option>Bahia</option>
            <option>São Paulo</option>
        </select>
        <select class="p-3 text-primary-emphasis --bs-success-border-subtle border --bs-success-border-subtle  rounded-3">
            <option>Municipio</option>
            <option>Cachoeira</option>
            <option>Santo Amaro</option>
            <option>Salvador</option>
        </select>
        
        <select class="p-3 text-primary-emphasis  border --bs-success-border-subtle  rounded-3">
            <option>Espécie</option>
            <option>Cachorro</option>
            <option>Gato</option>
        </select>
       
        <select class="p-3 text-primary-emphasis --bs-success-border-subtle border --bs-success-border-subtle  rounded-3">
            <option>Idade</option>
            <option>Filhote</option>
            <option>Adulto</option>
            <option>Idoso</option>
        </select>
        <input class="p-1 text-primary-emphasis --bs-success-border-subtle border --bs-success-border-subtle  rounded-3" type="text" placeholder="Raça ou nome do pet">
      
       <button  type="button" class="btn btn-warning">Buscar</button>
    </div>
</section>