
@import 'bootstrap/dist/css/bootstrap.min.css';
/* Importação de fontes */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    color: #333;
}
